<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="bg-dark">
<header>
    <%- include('../../partials/header'); %>
</header>

<main class="text-light">
    <div class="jumbotron text-center bg-dark">
        <h1>Dev Diary</h1>
    </div>

    <div class="container">
        <h2>Coming soon</h2>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>
</body>
</html>

