<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>
<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <div class="jumbotron text-center">
        <h1>Dev Diary</h1>
    </div>

    <div class="container">
        <h2>Coming soon</h2>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>
</body>
</html>

