<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="bg-dark">
<header>
    <%- include('../partials/header'); %>
</header>

<main class="text-light">
    <div class="container text-center my-5">
        <h1>projects.jasonn.dev</h1>
    </div>

    <div class="container">
        <div class="card m-3 p-2 bg-secondary">
            <div class="card-heading">
                <h2>pwndocker</h2>
            </div>
            <div class="card-body">
                <p>Create a lightweight docker container for solving CTF challenges.</p>
                <a href="/pwndocker" type="button" class="btn btn-primary">Read more</a>
                <a href="//github.com/Green-Avocado/pwndocker" type="button" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

