<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron text-center">
        <h1>projects.JasonN.dev</h1>
    </div>

    <div class="container-fluid">
        <h2>Coming Soon...</h2>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

