<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron text-center">
        <h1>pwndocker</h1>
        <p>Create a lightweight docker container for solving CTF challenges.</p>
        <a href="//github.com/Green-Avocado/pwndocker">GitHub</a>
    </div>

    <div class="container">
        <p>For developing exploits against non-system glibc versions.</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

