<nav class="navbar navbar-expand-md bg-secondary navbar-dark sticky-top">
    <a class="navbar-brand" href="/">jasonn.dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//projects.jasonn.dev">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//blog.jasonn.dev">Blog</a>
            </li>
        </ul>
    </div>
</nav>

