<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Under Construction</h1>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

