<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/resources/readme.css">
</head>

<body class="bg-dark">
<header>
    <%- include('../../partials/header'); %>
</header>

<main class="text-light">
    <div class="container text-center my-5">
        <h1>Security Stories</h1>
    </div>

    <div class="container">
        <%- readme_html %>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>
</body>
</html>

