<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-fluid text-center">
        <br><h1>About Me</h1><br>
    </div>

    <div class="container-fluid">
        <h2>Experience</h2>
        <p>
            I've done work for clients through websites like <code>freelancer.com</code>.
        </p>
        <br>

        <h5>Reviews</h5>
        <div class="container-fluid border">
            &#x2b50;&#x2b50;&#x2b50;&#x2b50;&#x2b50;

            <span class="text-success">$1,100 USD</span>

            <blockquote class="blockquote">
                Jason did amazing work on this project.
                He's focused and pays close attention to the smallest details.
                Hope to work with him again.
            </blockquote>

            Aalap D.
        </div>
        <br>

        <div class="container-fluid border">
            &#x2b50;&#x2b50;&#x2b50;&#x2b50;&#x2b50;

            <span class="text-success">$280 USD</span>

            <blockquote class="blockquote">
                Once again Jason overdelivered on my project while working well with me as the project morphed over time.
                His ability to understand my goals and execute on them make him a pleasure to work with.
                Give him a try, he will not disappoint!
            </blockquote>

            Paul H.
        </div>
        <br>

        <div class="container-fluid border">
            &#x2b50;&#x2b50;&#x2b50;&#x2b50;&#x2b50;

            <span class="text-success">$65 USD</span>

            <blockquote class="blockquote">
                He really knew what he was doing, great guy.
            </blockquote>

            Ahmed N.
        </div>
        <br>



        <h2>Education</h2>
        <p>
            I'm currently a 1st year science student at the University of British Columbia. I intend to specialise in computer science.
        </p>
        <br>



        <h2>Interests</h2>
        <p>
            My primary interests are in programming and cybersecurity.
        </p>
        <p>
            I frequently participate in capture-the-flag competitions online.
            You can read about my CTF experiences here: <a href="//github.com/Green-Avocado/CTF">github.com/Green-Avocado/CTF</a>
        </p>
        <p>
            Currently, I compete with Maple Bacon, a team affiliated with the University of British Columbia.
        </p>
        <p>
            I've participated in a number hackathons, you can view my projects here: <a href="//devpost.com/Green-Avocado">devpost.com/Green-Avocado</a>.
        </p>
        <br>



        <h2>Links</h2>
        <p>Github: <a href="//github.com/Green-Avocado">Green-Avocado</a>
        <p>StackOverflow: <a href="//stackoverflow.com/users/13528169">Green-Avocado</a>
        <p>Devpost: <a href="//devpost.com/Green-Avocado">Green-Avocado</a>
        <br>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

