<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-fluid text-center">
        <br><h1>About Me</h1><br>
    </div>

    <div class="container-fluid">
        <h2>Education</h2>
        <p>I'm currently a 1st year science student at the University of British Columbia. I intend to specialise in computer science.</p>
        <br>

        <h2>Experience</h2>
        <p>I've done work for clients through websites like <code>freelancer.com</code>.</p>
        <br>

        <h2>Interests</h2>
        <p>Programming, cybersecurity.</p>
        <br>

        <h2>Links</h2>
        <p>Github: <a href="//github.com/Green-Avocado">Green-Avocado</a>
        <p>StackOverflow: <a href="//stackoverflow.com/users/13528169">Green-Avocado</a>
        <br>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

