<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-fluid text-center">
        <br><h1>About Me</h1><br>
    </div>

    <div class="container-fluid">
        <h2>Experience</h2>
        <p>
            I've done work for clients through websites like <code>freelancer.com</code>.
        </p>
        <br>



        <h2>Education</h2>
        <p>
            I'm currently a 1st year science student at the University of British Columbia. I intend to specialise in computer science.
        </p>
        <br>



        <h2>Interests</h2>
        <p>
            My primary interests are in programming and cybersecurity.
        </p>
        <p>
            I frequently participate in capture-the-flag competitions online.
            You can read about my CTF experiences here: <a href="//github.com/Green-Avocado/CTF">github.com/Green-Avocado/CTF</a>
        </p>
        <p>
            Currently, I compete with Maple Bacon, a team affiliated with the University of British Columbia.
        </p>
        <p>
            I've participated in a number hackathons, you can view my projects here: <a href="//devpost.com/Green-Avocado">devpost.com/Green-Avocado</a>.
        </p>
        <br>



        <h2>Links</h2>
        <p>Github: <a href="//github.com/Green-Avocado">Green-Avocado</a>
        <p>StackOverflow: <a href="//stackoverflow.com/users/13528169">Green-Avocado</a>
        <p>Devpost: <a href="//devpost.com/Green-Avocado">Green-Avocado</a>
        <br>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

