<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-fluid text-center">
        <br><h1>Contact Me</h1><br>
    </div>

    <div class="container-fluid">
        <div>
            <h4>Email:</h4>
            <p>General inquiries: <span>generic</span><span>@</span><span>jasonn.dev</span></p>
            <p>Business inquiries: <span>work</span><span>@</span><span>jasonn.dev</span></p>
        </div>
        <br>

        <div>
            <h4>Phone:</h4>
            <p>+1 <span>587-8</span><span>90-54</span>11</p>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

