<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron text-center">
        <h1>JasonN.dev</h1>
    </div>
    <br>

    I'll finish this one day.
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

