<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="bg-dark">
<header>
    <%- include('../partials/header'); %>
</header>

<main class="text-light">
    <div class="jumbotron text-center bg-dark">
        <h1>jasonn.dev</h1>
    </div>
    <br>

    <div class="container">
        I'll finish this some day.
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

