<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron text-center">
        <h1>JasonN.dev</h1>
    </div>
    <br>

    <div class="container-fluid">
        <h2>About me</h2>

        <p>Information about me and my experience in computer science.</p>

        <p><a href="about">Read more</a>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Services</h2>

        <p>See what services I offer.</p>

        <p><a href="services">Read more</a>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Projects</h2>

        <p>Check out my recent projects and stuff that I'm currently hosting.</p>

        <p><a href="//projects.jasonn.dev">Read more</a>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Blog</h2>

        <p>Stuff I write.</p>

        <p><a href="//blog.jasonn.dev">Read more</a>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Contact</h2>

        <p>Get in touch with me.</p>

        <p><a href="contact">Read more</a>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

