<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-fluid text-center">
        <br><h1>Services</h1><br>
    </div>

    <div class="container-fluid">
        <p>Coming Soon</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

