<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-fluid text-center">
        <br><h1>Services</h1><br>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Software Development</h2>

        <p>Desktop applications.</p>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Web Development</h2>

        <p>Websites and web applications.</p>
    </div>
    <br>

    <div class="container-fluid">
        <h2>Scripting</h2>

        <p>Shell scripts, Google Apps scripts, Python scripts, and more.</p>
    </div>
    <br>

    <div class="container-fluid">
        <h2>System Administration</h2>

        <p>Linux server and device maintenance.</p>
    </div>
    <br>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

